body {
	background-color: rgba(22, 64, 114, 1);
}
header {
	background-color: white;
	padding: 1rem;
}

header h1 {
	text-align: center;
	color: rgba(22, 64, 114, 1);
	margin: 0;
}

main {
	background-color: rgba(22, 64, 114, 1);
	padding: 2rem;
	min-height: 100vh;
	color: white;
}

.card-img-top {
	width: 100%;
	aspect-ratio: 4 / 5;
	object-fit: cover;
	border-radius: 0.5rem;
}
